@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #edf6f9;
}

.bar {
  background: #ffddd2;
  color: black;

  width: 20em;
  height: 2em;
  margin: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.bar label {
  z-index: 10;
}
.bar .bar-inner {
  background: #ff9b71;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  transition: width 0.2s;
}
.bar,
.bar-inner {
  border-radius: 4px;
}
